preps/books.dtd

<!ELEMENT BOOKS (BOOK)+>
<!ELEMENT BOOK (TITLE, AUTHOR+, YEAR, RATING+, REVIEW*)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT AUTHOR (#PCDATA)>
<!ELEMENT YEAR (#PCDATA)>
<!ELEMENT RATING EMPTY>
<!ATTLIST RATING rank (0|1|2|3|4|5) #REQUIRED>
<!ELEMENT REVIEW (#PCDATA)>
<!ATTLIST REVIEW username CDATA #IMPLIED>
